@media only screen and (max-width: 300px) {
    body {
      color: yellow;
    }
  }

header img,
header h4 {
      display: inline-block;
      vertical-align: middle; 
  }
  .main-footer {
    padding: 20px;
    text-align: center;
}

.main-footer img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 80px; /* Adjust width if needed */
    height: 80px; /* Adjust height if needed */
}

.main-footer a {
    text-decoration: none;
    color: black; /* Adjust color if needed */
}


body, html {
    height: 100%;
    display: grid;
  }
  
body {
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

    
}

.main {
    margin: auto;
    text-align: center;
    max-width: 90vw;
}

.center-fit {
    max-height: 50vh;
    max-width: 50vw;
}

.buttons button {
    margin: 0.5em;
}

.buttons {
    margin: 0.5em;
}

#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

footer {
    margin: 1em;
}

footer img {
    vertical-align: bottom;
    transition-duration: 2s;
    transition-property: transform;
}

footer img:hover,
footer a:hover img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
